.container {
    display: flex;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
}
.primer {
    display: inline-flex;
    align-items:center;
    padding: 5%;
  }
.contenedor {
  margin: 10%;
  display: flex;
  justify-content: space-around; align-content: space-around;

}
.Nuevochat {
  background-color: #a491d2;
  color: white;
  width: 80%;
  text-align: center;
}
li {
  list-style: none;
}
.foto {
  border-radius: 50%;
  width: 15%;
}
.foto1 {border-radius: 50%;
    width: 15%;}
.manitos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e8ebe4;
  padding: 10%;
}
.contactos {
  display:flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px;
  color: #bec1bb;
}
.primer {
  display: inline-flex;
  align-items:center;
  padding: 5%;
}
.gris {
  color: #bec1bb;
}
.texto {
  color: black; text-align:center;
}
.negro {color: black;}
.contacto {
    display:flex;  flex-direction: row; align-items: center; align-content: center; width: 100%; justify-content: center;
}
.borde {
  border: solid 1px #bec1bb; 
}
ul {
  padding: 0;
  margin: 0;
  display: flex; flex-direction: column; 
}
.resultado {text-align: left;}
.iconos {display: inline-flex; justify-content: space-between;}
.amor {padding: 30%;}